/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 24, 2018, 8:33:03 PM
    Author     : manu ko
*/
#yii-debug-toolbar{
    display: none !important;
}
.login-page, .register-page {
    background: #232d33;
}
.login-box-msg, .register-box-msg {
    font-weight: 700;
    font-size: 14px;
}
#login-form .form-control{
    border-radius: 3px;
}
#login-form .form-group .help-block {
    bottom: -10px;
}
.btn-block{
    width: max-content;
    margin-bottom: 15px;
}
.form-group{
    width: 100%;
}
.form-control{
    width: 100%;
}
.mrg-bot-15{
    margin-bottom: 15px;
}
.box-body{
    padding: 10px 20px;
}
.box-header{
    padding: 10px 20px;
}
@media (min-width: 768px){
    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }
}
.login-box-body{
    border-radius: 5px;
}
.box{
    min-height: 500px;
}
.alert {
    padding: 6px 15px;
}
.alert-dismissable .close, .alert-dismissible .close {
    right: -7px;
}
.box-title{
    font-weight: 600;
}
.skin-blue .main-header .logo {
    background-color: #fff;
    padding-left: 10px;
}
.signout-btn{
    padding: 13px 18px;
    background: #242d34;
    border: none;
    color: #e2dfdf;
    font-size: 15px;
    border-left: 1px solid #545454;
}
.skin-blue .main-header .navbar .nav>li>a.signout-btn{
    border-left: 1px solid #e4e4e44d;
}
.skin-blue .main-header .navbar .nav>li>a.signout-btn:hover{
    background: rgba(255, 255, 255, 0.1);
}
.skin-blue .main-header .logo:hover {
    background-color: #c5c4c4;
}
.skin-blue .main-header .navbar {
    background-color: #232d33;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #36444e;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #c5c4c4;
}
.skin-blue .main-header .navbar .nav>li>a {
    color: #c5c4c4;
}
.box{
    padding-bottom: 20px;
    border-top: 0;
}
.box-header.with-border{
    background: #fff;
    color: #232d33;
    padding-top: 20px;
    margin-bottom: 10px;
}
.manage-btn{
    margin-bottom: 30px;
    background: #0081c9;
    border-color: #0081c9;
    color: #fff;
}
.manage-btn:hover{
    transition: ease-in-out 600ms;
    background: #0081c9;
    border-color: #0081c9;
    color: #fff;
}
.form-inline .form-control{
    margin-bottom: 30px;
    border-radius: 3px;
}
.form-inline textarea.form-control{
    /*min-height: 150px;*/
}
.form-inline .form-control::placeholder{
    text-transform: capitalize;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}
.form-group .help-block{
    position: absolute;
    bottom: 0px;
    font-size: 12px;
}
.action-btn-right{
    text-align: right;
}
.action-btn-right .create-btn{
    display: inline-block;
    transition: ease-in-out 600ms;
}
.action-btn-right .create-btn:hover{
    transition: ease-in-out 600ms;
    background: #00a65ac2;
    border-color: #00a65a;
}
.action-btn-right a.cancel-btn{
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 30px;
    background: #ed7700;
    border-color: #ed7700;
    transition: ease-in-out 600ms;
    color: #fff;
}
.action-btn-right a.cancel-btn:hover{
    transition: ease-in-out 600ms;
    background: #ed7700bf;
    border-color: #ed7700bf;
}
.pad-0{
    padding: 0px;
}
.sub-head{
    font-weight: 600;
    font-size: 16px;
    color: #1280ca;
}