/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 24, 2018, 8:33:03 PM
    Author     : manu ko
*/
#yii-debug-toolbar{
    display: none !important;
}
.btn-block{
    width: max-content;
    margin-bottom: 15px;
}
.form-group{
    width: 100%;
}
.form-control{
    width: 100%;
}
.mrg-bot-15{
    margin-bottom: 15px;
}
.box-body{
    padding: 10px 20px;
}
.box-header{
    padding: 10px 20px;
}
@media (min-width: 768px){
.form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
}
.login-box-body{
    border-radius: 5px;
}
.box{
    min-height: 500px;
}
.alert {
    padding: 6px 15px;
}
.alert-dismissable .close, .alert-dismissible .close {
    right: -7px;
}
.box-title{
    font-weight: 600;
}
